@import "../variables.scss";

.plan {
  &__banner {
    background-image: url("../../images/background/image-hero-blackcup-mobile.jpg");
    max-height: 375px;
  }

  .how-it-works {
    padding: 80px 25px;
    margin: 0 -25px;
    background-image: url("../../images/background/bg-steps-mobile.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px !important;

    &-items {
      > div {
        &::before {
          background: transparent;
        }

        h4,
        p {
          color: $light-cream;
        }
      }
    }
  }

  &__steps {
    display: flex;
    flex-direction: column;
    gap: 40px 0;
    &-items {
      &--active {
        > div {
          max-height: 100vh !important;
          opacity: 1 !important;
          pointer-events: inherit !important;
        }
      }

      h3 {
        font-size: 24px;
        line-height: 1.16;
        color: $grey;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 100px;
        margin: 32px 0;
      }

      > div {
        display: flex;
        flex-direction: column;
        gap: 16px 0;
        max-height: 0px;
        opacity: 0;
        pointer-events: none;
        transition: 0.1s ease-in-out;
        margin-top: 0;

        button {
          text-align: left;
          padding: 25px;
          border: none;
          background: #f4f1eb;
          border-radius: 10px;
          transition: 0.2s ease-in-out;

          &:hover {
            background: $pale-orange;
            cursor: pointer;
          }

          h4 {
            font-size: 24px;
            line-height: 1.33;
            margin-bottom: 8px;
            color: $dark-grey-blue;
          }

          p {
            font-size: 16px;
            line-height: 1.62;
            color: $dark-grey-blue;
          }
        }
      }
    }
  }
}

@media (min-width: $md) {
  .plan {
    &__banner {
      background-image: url("../../images/background/image-hero-blackcup-tablet.jpg");
      max-height: 400px;
    }

    .how-it-works {
      background-image: url("../../images/background/bg-steps-tablet.png");
      padding: 100px 40px;
      margin: 0 -40px;
    }
  }
}

@media (min-width: $xl) {
  .plan {
    &__banner {
      background-image: url("../../images/background/image-hero-blackcup-desktop.jpg");
      height: 450px;
    }

    .how-it-works {
      background-image: url("../../images/background/bg-steps-desktop.png");
      padding: 100px 85px;
      margin: 0;
    }
  }
}
