@import "../variables.scss";

.plan {
  &__banner {
    background-image: url("../../images/background/image-hero-blackcup-mobile.jpg");
    max-height: 375px;
  }

  .how-it-works {
    padding: 80px 25px;
    margin: 0 -25px;
    background-image: url("../../images/background/bg-steps-mobile.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px !important;

    &-items {
      > div {
        &::before {
          background: transparent;
        }

        h4,
        p {
          color: $light-cream;
        }
      }
    }
  }

  &__steps {
    &-sidebar {
      display: none;
    }

    &-container {
      display: flex;
      flex-direction: column;
      gap: 40px 0;
    }

    &-items {
      &:nth-of-type(1) {
        h3 {
          margin-top: 0;
        }
      }

      &--open {
        > div {
          max-height: 100vh !important;
          opacity: 1 !important;
          pointer-events: inherit !important;
        }
      }

      &-active {
        background: $dark-cyan !important;
        * {
          color: $light-cream !important;
        }
      }

      h3 {
        font-size: 24px;
        line-height: 1.16;
        color: $grey;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 100px;
        margin: 32px 0;
      }

      > div {
        display: flex;
        flex-direction: column;
        gap: 16px 10px;
        max-height: 0px;
        opacity: 0;
        pointer-events: none;
        transition: 0.1s ease-in-out;
        margin-top: 0;

        button {
          text-align: left;
          padding: 25px;
          border: none;
          background: #f4f1eb;
          border-radius: 10px;
          transition: 0.2s ease-in-out;

          &:hover {
            background: $pale-orange;
            cursor: pointer;
          }

          h4 {
            font-size: 24px;
            line-height: 1.33;
            margin-bottom: 8px;
            color: $dark-grey-blue;
          }

          p {
            font-size: 16px;
            line-height: 1.62;
            color: $dark-grey-blue;
          }
        }
      }
    }
  }
}

@media (min-width: $md) {
  .plan {
    &__banner {
      background-image: url("../../images/background/image-hero-blackcup-tablet.jpg");
      max-height: 400px;
    }

    .how-it-works {
      background-image: url("../../images/background/bg-steps-tablet.png");
      padding: 100px 40px;
      margin: 0 -40px;
    }

    &__steps {
      &-container {
        gap: 50px 0;
      }
      &-items {
        h3 {
          font-size: 32px;
          line-height: 1.5;
        }

        > div {
          flex-direction: row;

          button {
            padding: 32px 25px 85px 25px;
            flex-basis: 0;
            flex-grow: 1;

            h4 {
              margin-bottom: 24px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: $xl) {
  .plan {
    &__banner {
      background-image: url("../../images/background/image-hero-blackcup-desktop.jpg");
      height: 450px;
    }

    .how-it-works {
      background-image: url("../../images/background/bg-steps-desktop.png");
      padding: 100px 85px;
      margin: 0;
    }

    &__steps {
      flex-direction: row;
      display: flex;
      gap: 0 125px;

      &-sidebar {
        display: flex;
        flex-direction: column;
        flex-basis: 255px;
        min-width: 255px;

        &-active {
          span {
            color: $dark-cyan !important;
          }

          p {
            color: $dark-grey-blue !important;
          }
        }

        > div {
          position: sticky;
          top: 32px;
          > div {
            display: flex;
            align-items: center;
            gap: 30px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            padding: 25px 0;

            &:first-child {
              padding-top: 0;
            }

            &:last-child {
              border: none;
              padding-bottom: 0;
            }

            * {
              color: $grey;
              font-size: 24px;
              line-height: 1.33;
              font-weight: 900;
              opacity: 0.75;
            }

            span {
              width: 35px;
            }
          }
        }
      }

      &-items {
        h3 {
          font-size: 40px;
          line-height: 1.2;
        }
      }
    }
  }
}
