@import "../variables.scss";
.primary-btn {
  background: $dark-cyan;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  line-height: 1;
  border-radius: 6px;
  display: inline-block;
  padding: 17px 31px;
  align-self: center;

  &:hover {
    background: $btn-hover;
  }
}
