@import "../variables.scss";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;

  &__default {
    display: none;

    &-links {
      ul {
        display: flex;
        list-style: none;
        gap: 30px;

        li {
          a {
            font-size: 1rem;
            text-decoration: none;
            font-family: inherit;
            font-weight: 700;
            color: $grey;
          }
        }
      }
    }
  }

  &__mobile {
    &-toggle {
      padding: 0;
      border: none;

      img {
        width: 17px;
      }
    }

    &-sidebar {
      position: fixed;
      left: 0;
      top: 70px;
      height: 100%;
      width: 100vw;
      padding: 0 25px;
      transition: 0.4s ease-in-out;
      opacity: 0;
      pointer-events: none;
      background: linear-gradient(
        180deg,
        rgba(254, 252, 247, 0.5) 0%,
        #fefcf7 100%
      );

      &-links {
        ul {
          display: flex;
          flex-direction: column;
          gap: 32px;
          padding: 0;
          list-style: none;
          align-items: center;
          font-family: inherit;
          font-weight: 900;
          margin-top: 30%;

          a {
            font-size: 24px;
            color: $dark-grey-blue;
            text-decoration: none;
          }
        }
      }

      &--active {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

@media (min-width: $md) {
  .nav {
    &__default {
      display: block;
    }

    &__mobile {
      display: none;
    }

    &__logo-brand {
      max-width: 203px !important;
    }
  }
}

@media (min-width: $md) {
  .nav {
    padding: 40px 0;
  }
}

@media (min-width: $xl) {
  .nav {
    padding: 50px 0;
  }
}
