@import "../variables.scss";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 25px;
  // position: sticky;
  top: 0;
  z-index: 1;
  background: $light-cream;
  margin: 0 -25px;

  &__default {
    display: none;

    &-links {
      ul {
        display: flex;
        list-style: none;
        gap: 30px;

        li {
          a {
            font-size: 1rem;
            text-decoration: none;
            font-family: inherit;
            font-weight: 700;
            color: $grey;

            &:hover {
              color: $dark-grey-blue;
            }
          }
        }
      }
    }
  }

  &__mobile {
    &-toggle {
      padding: 0;
      border: none;

      img {
        width: 17px;
      }
    }

    &-sidebar {
      position: fixed;
      z-index: 10;
      left: 0;
      top: 78px;
      height: 100%;
      width: 100vw;
      padding: 0 25px;
      transition: 0.4s ease-in-out;
      opacity: 0;
      pointer-events: none;
      background: linear-gradient(
        180deg,
        $light-cream 0%,
        $light-cream 40%,
        rgba(254, 252, 247, 0.2) 100%
      );

      &-links {
        ul {
          display: flex;
          flex-direction: column;
          gap: 32px;
          padding: 0;
          list-style: none;
          align-items: center;
          font-family: inherit;
          font-weight: 900;
          margin-top: 30%;

          li {
            text-align: center;
          }

          a {
            font-size: 24px;
            color: $dark-grey-blue;
            text-decoration: none;
            &:hover {
              color: $dark-grey-blue;
            }
          }
        }
      }

      &--active {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

@media (min-width: $md) {
  .nav {
    position: initial;
    padding: 40px;
    margin: 0 -40px;

    &__default {
      display: block;
    }

    &__mobile {
      display: none;
    }

    &__logo-brand {
      max-width: 203px !important;
    }
  }
}

@media (min-width: $xl) {
  .nav {
    padding: 50px;
    margin: 0 -50px;
  }
}
