@import "../variables.scss";
.primary-btn {
  background: $dark-cyan;
  color: $light-cream;
  font-size: 18px;
  font-weight: 900;
  line-height: 1;
  border-radius: 6px;
  display: inline-block;
  padding: 17px 31px;
  align-self: center;
  border: none;

  &:hover {
    background: $btn-hover;
    cursor: pointer;
  }
}

.banner {
  padding: 25px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  color: $light-cream;
  text-align: center;
  height: 60vh;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px 0;
  position: relative;

  &--overlay::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 15px;
  }

  * {
    max-width: 290px;
    margin: 0 auto;
  }

  h1 {
    font-size: 40px;
    line-height: 1;
  }

  p {
    font-size: 17px;
    line-height: 1.62;
    opacity: 0.8;
  }
}

.how-it-works {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 70px;

  h2 {
    color: $grey;
    font-size: 24px;
    line-height: 1.3;
  }

  &-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 56px 30px;
    > div {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin: 0 auto;
      position: relative;

      * {
        max-width: 285px;
      }

      h3 {
        color: $pale-orange;
        font-size: 72px;
        line-height: 1;
      }

      h4 {
        color: $dark-grey-blue;
        font-size: 28px;
        line-height: 1.1;
      }

      p {
        font-size: 15px;
        line-height: 1.6;
        color: $dark-grey-blue;
      }
    }
  }
}

@media (min-width: $md) {
  .banner {
    background-position: center;
    text-align: left;
    align-items: flex-start;
    padding: 60px;
    gap: 40px 0;

    * {
      max-width: 390px;
      margin: 0;
    }

    h1 {
      font-size: 48px;
    }

    a {
      align-self: flex-start;
    }
  }

  .how-it-works {
    text-align: left;
    gap: 60px;

    &-items {
      flex-direction: row;
      > div {
        flex-basis: 0;
        flex-grow: 1;
        gap: 38px;

        &::before {
          content: "";
          height: 30px;
          width: 30px;
          border-radius: 50%;
          border: 2px solid $dark-cyan;
          background: $light-cream;
          z-index: 1;
        }

        &::after {
          content: "";
          position: absolute;
          top: 15px;
          left: 34px;
          height: 2px;
          width: calc(100% - 34px + 20px);
          background: $pale-orange;
        }

        &:last-child::after {
          display: none;
        }

        * {
          max-width: 285px;
        }

        h4 {
          min-height: 61.59px;
          max-width: 200px;
        }
      }
    }

    a {
      align-self: flex-start;
    }
  }
}

@media (min-width: $xl) {
  .banner {
    padding: 85px;
    border-radius: 15px;
    height: 575px;
    max-height: initial !important;

    h1 {
      font-size: 72px;
      max-width: 490px;
    }

    p {
      font-size: 18px;
      max-width: 525px;
    }
  }

  .how-it-works {
    gap: 80px;
    &-items {
      > div {
        h4 {
          font-size: 32px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}
