@import "./variables.scss";
* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 13px;
}

a {
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

body.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 25px 25px 25px;
  background: $light-cream;
  display: flex;
  flex-direction: column;
}

//Flex gap spacing
main > div {
  display: flex;
  flex-direction: column;
  gap: 100px 0;
}

@media (min-width: $md) {
  body.container {
    padding: 0 40px 40px 40px;
  }

  main > div {
    gap: 120px 0;
  }
}

@media (min-width: $xl) {
  body.container {
    padding: 0 50px 50px 50px;
  }

  main > div {
    gap: 175px 0;
  }
}
