// Screen break points
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Colours
$dark-cyan: #0e8784;
$dark-grey-blue: #333d4b;
$pale-orange: #fdd6ba;
$light-cream: #fefcf7;
$grey: #83888f;
$btn-hover: #66d2cf;
$btn-disabled: #e2dedb;
$dark-navy: #2c343e;
